{% extends "base.html" %}

{% block content %}
    <div class="sidebar">
        <h2>Список статей</h2>
        <ul>
            {% for articles in last_articles %}
                <div>
                    <a href="#{{ articles.article }}">{{ articles.article }}</a>
                </div>
            {% endfor %}

        </ul>
    </div>


    <div class="content">
        {% for articles in last_articles %}
            <a name="{{ articles.article }}"></a>
            <div class="article_block">
                <div>
                    <h1>{{ articles.article }} </h1>
                </div>
                <div>
                    <img class="article_img" src="{{ articles.header_image.url }}" height="200" width="300"
                         alt="My image"/>
                </div>
                <div>
                    {{ articles.article_text }}
                </div>
                <div class="comments">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}