<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "styles.css" %}/>
    <title>Две колонки</title>
    <style>
        body {
            background-image: url(/Images/Articles/maxresdefault.jpg); /* Путь к фоновому изображению */
            background-color: #c7b39b; /* Цвет фона */
        }
    </style>
    {#    <script src="//vk.com/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>#}
</head>
<body>
{#<script type="text/javascript">#}
{#    VK.init({#}
{#        apiId: 1,#}
{#        onlyWidgets: true#}
{#    });#}
{#</script>#}
<div class="header">Заголовок сайта</div>
<div class="layout">
    <div class="sidebar">
        <h2>Меню</h2>
        <ul>
            <li><a href="link1.html">Ссылка 1</a></li>
            <li><a href="link2.html">Ссылка 2</a></li>
            <li><a href="link3.html">Ссылка 3</a></li>
            <li><a href="link4.html">Ссылка 4</a></li>
        </ul>
    </div>
    <div class="content">
        {% for articles in last_articles %}
            <div>
                <div>
                    <h1>{{ articles.article }} </h1>
                </div>
                <div>

                    <img class="article_img"

                         src="{{ articles.header_image.url }}" height="200"
                         width="300" alt="My image"/>
                </div>

                <div>
                    {{ articles.article_text }}
                </div>


                {#                <div id="vk_comments"></div>#}
                {#                <script type="text/javascript">#}
                {#                    VK.Widgets.Comments('vk_comments');#}
                {#                </script>#}

            </div>
        {% endfor %}
    </div>
</div>
<div class="footer">Подвал</div>
</body>
</html>