<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href={% static "styles.css" %} />
   <title>Две колонки</title>
  <style>
   body {
    background-image: url(/Images/Articles/maxresdefault.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
  </style>
 </head>
 <body>
  <div class="header">Заголовок сайта</div>
   <div class="centerLayer">
     <a href="{% url 'articles' %}">Статьи</a>
   </div>
  <div class="footer">Подвал</div>
 </body>
</html>