{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#    <ul>#}
{#    {% for articles in last_articles %}#}
{#        <div>#}
{#          <h1>{{ articles.article }} </h1>#}
{#          {{ articles.article_text }}#}
{#        </div>#}
{#    {% endfor %}#}
{#    </ul>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Две колонки</title>
 </head>
 <body>
  <div class="header">Заголовок сайта</div>
  <div class="layout">
   <div class="sidebar">
    <h2>Меню</h2>
    <ul>
     <li><a href="link1.html">Ссылка 1</a></li>
     <li><a href="link2.html">Ссылка 2</a></li>
     <li><a href="link3.html">Ссылка 3</a></li>
     <li><a href="link4.html">Ссылка 4</a></li>
    </ul>
   </div>
   <div class="content">
         <img src={{  backgroundImage.file }} alt="Бэкгрунд"/>
        <p>{{ backgroundImage.fileInfo }}</p>
          {% for articles in last_articles %}
        <div>
          <h1>{{ articles.article }} </h1>
          {{ articles.article_text }}
        </div>
    {% endfor %}
   </div>
  </div>
  <div class="footer">Подвал</div>
 </body>
</html>