/*общий стиль для тела страницы*/
.body {
    background-image: url(/Images/Articles/maxresdefault.jpg); /* Путь к фоновому изображению */
    background-color: #919191; /* Цвет фона */
}



/*общие элементы страницы*/
.header, .sidebar, .content, .footer {
    padding: 10px; /* Поля */
    border: solid 1px #000; /* Параметры рамки*/
    background: #e3e8cc; /* Цвет фона */
}

.header {
    /* Верхняя часть с заголовком */
    background: #768e98; /* Цвет фона */
    font-size: 24px; /* Размер шрифта */
    position: fixed;
    left: 0;
    top: 0; /* Левый нижний угол */
    width: 100%;
}

.layout {
    margin: 15px 0; /* Отступы сверху и снизу*/
    overflow: hidden;/* Отменяем действие float */
    min-width: 800px; /* Минимальная ширина */
    /*max-width: 1200px; *//* Максимальная ширина */
    max-width: 60%;
}

.sidebar {
    /* Навигация по сайту */
    width: 350px; /* Ширина меню */
    /*float: left;  Состыковка с другим слоем по горизонтали */
    height: 100%;
    position: fixed;
    margin-top: 40px;
}

.sidebar ul {
    list-style: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
}



.content {
    /* Основное содержание страницы */
    /*margin-left: 135px; *//* Отступ слева */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; /* Положение слоя от левого края */
    right: 20%;
    padding: 10px; /* Поля вокруг текста */
    overflow: hidden;  /*Добавление полосы прокрутки*/
    margin-right: 10px;
    margin-bottom: 35px;
    margin-top: 40px;
}

.footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #768e98; /* Цвет фона */
    color: #000000; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.centerLayer {
    position: absolute; /* Абсолютное позиционирование*/
    left: 25%; /* Положение слоя от левого края */
    top: 40%; /* Положение слоя от верхнего края */
    /*border: solid 1px wheat; *//* Параметры рамки вокруг */
    padding: 10px; /* Поля вокруг текста */
    overflow: auto; /* Добавление полосы прокрутки */
}

/*Главное меню*/
/*.mainMenuTable {*/
    /*border: solid 1px wheat;*/
    /*width: 600px;*/
    /*height: 200px;*/
/*}*/

/*.mmTd {*/
    /*border: solid 1px wheat;*/
    /*width: 150px;*/
    /*height: 190px;*/
/*}*/

/*test css*/
.view {
    width: 200px;
    height: 200px;
    margin: 0px;
    float: left;
    border: 0px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(/Images/menu_bn_teemo-2.jpg) no-repeat center center
}

.view .mask, .view .content {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}



/*********ARTICLE********/
.article_block {
    border: 10px solid #fff;
    padding: 10px;
}

.text {
    margin: auto;
    padding: 10px;
}

.article_img {
    position: relative;
    align-self: center;
}

/*Увеличение объекта в N раз*/
.transition-scale {
  position: relative;
  z-index: 2;
  background: #808991;
  color: #FFF;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 800px;
  font-size: 20px;
  border: 4px ridge black;
  cursor: pointer;
  transition: 1s linear;
}
.transition-scale:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}